h1,h2{
    color:gold;
    /* text-align: center; */
    text-shadow: 0px 3px 20px white;
}
form{
    padding: 50px;
    width: 300px;
    text-align: center;
    background-color: #0398dd;
    border-radius: 20px;
    box-shadow: 0px 2px 20px white;
}
label{
    color:rgb(56, 225, 0);
    /* text-align: center; */
    text-shadow: 0px 3px 20px white;
    font-size:30px;
    margin: 10px;
}
input{
    background-color:#0398dd;
    padding: 10px;
    color: rgb(192, 206, 194);
    border-radius: 10px;
    height: 50px;
    box-shadow: 0px 2px 20px #01ff8d;
    width: 90%;
    margin: 10px;
}
input:hover{
    box-shadow: 0px 2px 20px #01ff8d;
    background-color: #0385c1;
    scale: 1.05;
    transition: 0.3s;
}
form:hover{
    box-shadow: 0px 1px 20px rgb(113, 7, 234);
    scale: 1.1;
    transition: 1s;
}

button{
    background-color: #04f3eb;
    color:rgb(7, 173, 54);
    height: 30px;
    width: 50%;
    border-radius: 10px;
    margin: 10px;
}
button:hover{
    background-color: #05d6cf;
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 0px 2px 20px rgb(2, 198, 2);
}
.center{
    display: flex;;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
@media (max-width:768px){
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    form{
        margin-top: 20px;
        margin-bottom: 100px;
    }
    
}