.navbar ul{
  display:flex;
  /* background-color: red; */
  text-decoration: none;
  justify-content: space-around;
  flex-direction: row;
  
}
.navbar ul li{
  list-style-type: none;
  /* padding: 10px; */
  font-size: 20px;
}

li:hover{
  color: rgb(0, 183, 255);
  transition: 1s;
}
.navbar{
  background-color: black;
  padding: 10px;
  box-shadow: 0px 2px 20px blue;
  border-radius: 10px;
}
.navbar:hover{
  scale: 1.05;
  transition: 0.4s;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline wavy white 1px;
}
@media (max-width:600px){
  .navbar ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .navbar ul li{
      padding-left: 0px;
  }
}
