nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 2rem;
  box-shadow: 0rem 0.25rem 2.5rem rgb(32, 51, 159);
  border-radius: 2rem;
}
nav .hamburger-lay {
  display: flex;
  justify-content: start;
}
nav .hamburger-lay .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: start;
}
nav .hamburger-lay input {
  visibility: hidden;
}

nav .hamburger-lay .hamburger .bar {
  width: 1.563rem;
  height: 0.188rem;
  margin: 0.25rem 0;
  background-color: white;
}
ul {
  transition-delay: 2s;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}
nav {
  align-items: flex-start;
  text-align: start;
}

li {
  padding-right: 2rem;
  padding-left: 0rem;
  font-size: 2rem;
  padding-top: 0;
  color: rgb(48, 85, 98);
}
li:hover {
  scale: 1.2;
  transition: 1s;
}
a{
  text-decoration: none;
}
a:hover{
  text-shadow: 0 0.188rem 1.25rem white;
  color: aqua;
  transition: 1s;
}
.flash {
  box-shadow: none;
  width: 10rem;
}

@media (max-width: 50.5rem) {
  nav {
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0rem 0.25rem 2.5rem rgb(32, 51, 159);
    border-radius: 2rem;
  }
  li {
    padding-bottom: 1rem;
  }
  nav .hamburger-lay .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: start;
  }
  nav .hamburger-lay input {
    visibility: hidden;
  }
  nav .hamburger-lay {
    display: flex;
    justify-content: space-between;
  }
  nav .hamburger-lay .hamburger .bar {
    width: 1.563rem;
    height: 0.188rem;
    margin: 0.25rem 0;
    background-color: white;
  }
  ul {
    transition-delay: 2s;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    align-items: start;
    scale: 0;
    transition: 0.5s;
    max-height: 0;
  }
  nav {
    align-items: center;
    text-align: start;
  }
  .hamburger-lay #menu-toggle:checked ~ ul {
    transition: 0.5s;
    scale: 1;
    max-height: 100%;
  }

  nav {
    margin: 1rem;
  }
}